@import '~antd/dist/antd.css';

.pokemonContainer, .container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.containerColumn{
    flex-direction: column !important;
}

.containerMoves{
    padding: 8px;
    background-color: #a8e4a0;
    border-radius: 10px;
}

.movesWrapper{
    padding: 8px;
    background-color: #fffacd;
    width: 90%;
    border-radius: 10px;
    border: solid 3px #f1e57f;
    box-shadow: 2px 2px 5px #777;
}

.containerColor{
    background-color: #70a1ff;
    margin-bottom: 8px;
    width: 60%;
    border-radius: 4px;
}

p, h4, h3, h1{
    line-height: 1.8;
    margin: 0 !important;
  }

p{
   font-size: 20px; 
}
h3{
    font-size: 22px;
    font-weight: 700;
}

.pokemonRowWrapper{
    width: 80vw;
    border: solid 0.5px #333;
    border-radius: 10px;
    padding: 24px;
    background-color: #cfe6ff;
    box-shadow: 5px 5px 5px #777;
}

.pokemonNameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.pokemonNameBorder{
    width: 40vw;
    border: solid 2px #e15f41;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.pokemonNameBorder2{
    width: 39.8vw;
    border: solid 6px #f7d794;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.pokemonNameWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f19066;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-left: 10px;
}

.imgContainer{
    border: solid 6px #feca57;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ff6b6b;
}

.imgWrapper{
    border: solid 3px #0984e3;
    border-radius: 5px;
    background-color: #fffacd;
}

.subTitleWhite{
    color: white;
    font-weight: 400;
}

#star{
    font-size: 34px;
    color: #ffd32a;
    cursor: pointer;
    margin-right: 8px;
}

.divider{
    background-color: #f7d794;
}

.mb8{
    margin-bottom: 8px;
}

.height, .weight{
    display: flex;
    justify-content: start;
}

.type{
    width: 60%;
    margin-left: -20px !important;
    box-shadow: 2px 2px 3px #777;
}

.normal{
    color: white;
    background-color: #ccc;
    border: solid 2px white;
    border-radius: 20px;
    height: 40px;
}

.grass{
    color: white;
    background-color: #2ed573;
    border: solid 2px white;
    border-radius: 20px;
    height: 40px;
}

.fire{
    color: white;
    background-color: #ff3f34;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.water{
    color: white;
    background-color: #1e90ff;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.fighting{
    color: white;
    background-color: #b24e1c;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.flying{
    color: white;
    background-color: #71a0c8;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.poison{
    color: white;
    background-color: #8d619a;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.ground{
    color: white;
    background-color: #ecd06f;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.rock{
    color: white;
    background-color: #cebf8d;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.bug{
    color: white;
    background-color: #a5d152;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.ghost{
    color: white;
    background-color: #5f26ad;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.electric{
    color: white;
    background-color: #ffea6b;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.psychic{
    color: white;
    background-color: #ff58a5;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.ice{
    color: white;
    background-color: #aef6ff;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.dragon{
    color: white;
    background-color: #5500ce;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.dark{
    color: white;
    background-color: #303030;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.steel{
    color: white;
    background-color: #a3c2eb;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}

.fairy{
    color: white;
    background-color: #ff9ff3;
    border: solid 3px white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 3px 3px 3px #777;
}