.previewContainer{
    position: fixed;
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222f3e;
    
}

.containerImage{
    position: fixed;
    background-color: #fffacd;
    border: solid 6px #feca57;
    border-radius: 10px;
}