@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Cabin', sans-serif !important;
}

.header{
  background-color: #fbc531 !important;
  color: white !important;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  margin-top: 64px;
  min-height: 95vh !important;
  background: no-repeat fixed center/200% url("/public/assets/fond-bleu-pokemon2.jpg");

}

.sider{
  min-width: 25% !important;
}

.App-link {
  color: #61dafb;
}
